 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-10413401.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.4);
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-group-1 {
    min-height: 370px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-2 {
  min-height: 413px;
}

.u-section-2 .u-gallery-1 {
  height: 413px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 341px;
  }

  .u-section-2 .u-gallery-1 {
    height: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1045px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1045px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3135px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3135px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1974px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1974px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 763px;
}

.u-section-3 .u-list-1 {
  margin-top: 70px;
  margin-bottom: -415px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 623px;
  grid-gap: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 32px 30px 22px;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-18 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    margin-bottom: -320px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -82px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 886px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  min-height: 950px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 475px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin: 130px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 475px;
  background-image: url("images/dd.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 475px;
  background-image: url("images/pexels-photo-9725979.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 238px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 238px;
  background-image: url("images/5fe1dd474e50b108f5d08460962934761237d6ed5a4c704c722a7bd7954cc750_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 475px;
  background-image: url("images/pexels-photo-10560152.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 861px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-4 .u-image-1 {
    min-height: 353px;
  }

  .u-section-4 .u-image-2 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 196px;
  }

  .u-section-4 .u-image-3 {
    min-height: 196px;
  }

  .u-section-4 .u-image-4 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1426px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 225px;
  }

  .u-section-4 .u-image-2 {
    min-height: 601px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 300px;
  }

  .u-section-4 .u-image-4 {
    min-height: 601px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1790px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 338px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 451px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 450px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 902px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1164px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 213px;
  }

  .u-section-4 .u-image-2 {
    min-height: 284px;
  }

  .u-section-4 .u-image-3 {
    min-height: 283px;
  }

  .u-section-4 .u-image-4 {
    min-height: 568px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 415px;
}

.u-section-5 .u-group-1 {
  width: 777px;
  min-height: 355px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 19px 0 0;
}

.u-section-5 .u-text-3 {
  text-align: center;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 777px;
  }

  .u-section-5 .u-text-3 {
    width: 777px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 663px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-6 {
  background-image: url("images/pexels-photo-9651396.jpeg");
  background-position: 50% 99.53%;
}

.u-section-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-6 .u-group-1 {
  width: 645px;
  min-height: 430px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.4);
  margin: 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 487px;
}

.u-section-7 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 337px;
  grid-gap: 20px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-1 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-2 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-3 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 278px;
  }

  .u-section-7 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 639px;
  }

  .u-section-7 .u-image-1 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 654px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 514px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/golden-sunset_181624-18805.jpg");
  background-position: 50% 50%;
  margin: 56px auto 0;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 514px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 60px 40px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 43px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }
}